*{
    margin: 0;
    background-color: rgb(255, 254, 253);
}
#nav{
    font-size: 30px;
}
.ch2{
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
.container{
    /*border: 2px solid black;*/
    height: 10vh;
    width:100%;
    align-items: center;
    border: 2px solid black;
}
.box1{
    width: 100%;
}    
h1{
    font-size: 100px;
   
}
p{
    font-size: 30px;
   
}
#bt{
    background-color: black;
    color: white;
    border-radius: 50px;
    height: 40px;
    width:150px;
}
.image{
    height: 100px;
    width: 100px;
    background-image: url("https://miro.medium.com/v2/format:webp/4*SdjkdS98aKH76I8eD0_qjw.png");
    
}

