*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sun{
    border: 2px black solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.orbit1{
    border: 2px black solid;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    right: 190px;
    animation-name: solar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes solar {
    from{
        transform: rotate(0deg);
    }
    to{
        transfrom: rotate(360deg);
    }
    
}
.planet1{
    border: 2px black solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    right: 35px;
    left: 35px;
    background-color: blue;
}
